*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main_box{
    background: url("miniproject2.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: black;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.8s linear;


}   

.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255, 255 ,0.1);
    box-shadow: 0 0 20px black;
    left: -300px;
    transition: all 0.8s linear;

}

.sidebar_menu .logo {

    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 3px rgb(124, 123, 123);
    height: 60px;



}

.sidebar_menu .logo a {
    position: absolute;
    color: black;
    text-decoration: none;
    left: 50px;
    font-weight: 900px;
    font-size: 20px;

}

.sidebar_menu .btn_two i{
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: 700;
    left: 270px;
    line-height: 60px;
    /* opacity: 0; */
    cursor: pointer;
    transition: all 0.2s linear;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    /* color: white; */
    top: 80px;
}

.sidebar_menu .menu li{
    margin: 9px;
    padding: 10px 15px;

}


.sidebar_menu .menu i,a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.sidebar_menu .menu i{
    padding: 9px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 25%;
    bottom: 30px;

}

.sidebar_menu .social_media i{
    color: rgba(255, 255, 255, 0.5);
    padding: 0 7px;
    font-size: 20px;
}

#check {
    display: none;
}


.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6.5px rgb(41, 41, 41);


}

.sidebar_menu .btn_one i:hover{
    font-size: 25px;
}

.sidebar_menu .btn_two i:hover{
    font-size: 25px;
}

.sidebar_menu .social_media i:hover{
    color: white;
    font-size: 21px;
}


#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one{
    opacity: 0;
}